<ul>
  <li><%= (link_to 'authors', authors_path) %></li>
  <li><%= (link_to 'new author', new_author_path) %></li>
  <li><%= (link_to 'articles', articles_path) %></li>
  <li><%= (link_to 'tags', tags_path) %></li>
</ul>